@-webkit-keyframes slideInFromRight {
  from {
    -webkit-transform: translate(50%);
    transform: translate(50%);
    opacity: 0; }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }

@keyframes slideInFromRight {
  from {
    -webkit-transform: translate(50%);
    transform: translate(50%);
    opacity: 0; }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }

@-webkit-keyframes slideInFromLeft {
  from {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    opacity: 0; }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }

@keyframes slideInFromLeft {
  from {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    opacity: 0; }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }

@-webkit-keyframes shadowIn {
  from {
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent; }
  to {
    -webkit-box-shadow: 0 50px 250px rgba(0, 0, 0, 0.65);
    box-shadow: 0 50px 250px rgba(0, 0, 0, 0.65); } }

@keyframes shadowIn {
  from {
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent; }
  to {
    -webkit-box-shadow: 0 50px 250px rgba(0, 0, 0, 0.65);
    box-shadow: 0 50px 250px rgba(0, 0, 0, 0.65); } }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-webkit-keyframes btnRev {
  from {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0; }
  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; } }

@keyframes btnRev {
  from {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0; }
  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; } }

@-webkit-keyframes loader {
  from {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes loader {
  from {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

#lottie {
  -webkit-animation: 1s ease-out 0ms forwards loader;
  animation: 1s ease-out 0ms forwards loader; }

.main-body {
  -webkit-animation: 2s ease-out 3500ms forwards shadowIn;
  animation: 2s ease-out 3500ms forwards shadowIn; }

.photo1 {
  -webkit-animation: 3s ease-out 1s both slideInFromRight;
  animation: 3s ease-out 1s both slideInFromRight; }
  .photo1::before {
    -webkit-animation: 3s ease-out 1s both slideInFromRight;
    animation: 3s ease-out 1s both slideInFromRight; }
  .photo1::after {
    -webkit-animation: 3s ease-out both 1s slideInFromLeft;
    animation: 3s ease-out both 1s slideInFromLeft; }

.name {
  -webkit-animation: 1s ease-out 4s both slideInFromLeft;
  animation: 1s ease-out 4s both slideInFromLeft; }

.shrt-info {
  -webkit-animation: 1.5s ease-out 4s both slideInFromLeft;
  animation: 1.5s ease-out 4s both slideInFromLeft; }

.st1 {
  -webkit-animation: 2s infinite 5s bounce;
  animation: 2s infinite 5s bounce; }

.btn-download {
  -webkit-animation: .2s ease-in-out 5.5s both btnRev;
  animation: .2s ease-in-out 5.5s both btnRev; }
